# ./.env.template

# PostgreSQL Database Configuration
# These are default values for local development.
# IMPORTANT: DO NOT use these default values in production.
POSTGRES_DB=alt
POSTGRES_USER=alt_db_user
POSTGRES_PASSWORD=mypassword_dev_DO_NOT_USE_THIS

# Go Backend Application Database Connection
# These are the credentials your Go application will use to connect to PostgreSQL.
# In a real application, ensure these are configured securely,
# e.g., using environment variables or a secret management system.
DB_HOST=db
DB_PORT=5432
DB_USER=alt_appuser
DB_PASSWORD=apppassword_dev_DO_NOT_USE_THIS
DB_NAME=alt

# Go Backend Application Configuration
GO_ENV=development

# Next.js Frontend Application Configuration
NEXT_PUBLIC_APP_TITLE="Alt is the RSS feedn reader app"

# HF Token
HF_TOKEN="placeholder"

# Pre-Processor Configuration
PRE_PROCESSOR_DB_USER=preprocessor_user
PRE_PROCESSOR_DB_PASSWORD=preprocessor_password_dev_DO_NOT_USE_THIS