.env
alt-backend/app/datastore/output.json
alt-backend/app/alt-backend-optimized
/out
test-results/.last-run.json

news-creator/cached_models/*
news-creator/models/*

*.tar

# secrets
*.crt
*.key
*.pem
*.csr
*.p8
*.p12
*.srl

*.har

# real data
backup.sql
rask-log-aggregator/logs/*

__pycache__
.vscode/settings.json
.idea/
error.json


# k8s
k8s-manifests/k8s/backups/*
x-setup/
error.txt

# SSL certificates (development)
docker/postgres/ssl/
k8s-manifests/scripts/ssl-certs/

k8s-manifests/ssl-certs/*
k8s/base/core/database/postgres/ssl-certs/*
k8s-manifests/deploy-cli/deploy-cli
k8s-manifests/deploy-cli/deploy-cli/build

pv-data/

# SSL configuration files
*/values-ssl.yaml
log.txt
argocd/
node_modules/
pre-processor-sidecar/setup-oauth.sh
pre-processor-sidecar/cmd/oauth-initializer/
migrations-atlas/migrations/atlas.sum
auth-service/deployments/k8s/base/kratos-secrets.yaml
.serena/
alt-frontend/playwright-report/index.html
kratos/kratos.yml
backups/
.vscode/tasks.json
recap-worker/recap-worker/.sqlx/offline.toml
recap-worker/.vscode/settings.json
