.env
alt-backend/app/datastore/output.json
alt-backend/app/alt-backend-optimized
/out
test-results/.last-run.json

news-creator/cached_models/*
news-creator/models/*

*.tar

# real data
backup.sql
rask-log-aggregator/logs/*

__pycache__
.vscode/settings.json
.idea/
error.json
