apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f compose.yaml --out ./k8s-manifests/
    kompose.version: 1.36.0 (ae2a39403)
  labels:
    io.kompose.service: alt-frontend
  name: alt-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: alt-frontend
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f compose.yaml --out ./k8s-manifests/
        kompose.version: 1.36.0 (ae2a39403)
      labels:
        io.kompose.service: alt-frontend
    spec:
      containers:
        - env:
            - name: API_URL
              value: http://alt-backend:9000
            - name: NEXT_PUBLIC_API_BASE_URL
              value: /api
            - name: NODE_ENV
              value: production
            - name: PORT
              value: "3000"
          image: alt-frontend:production
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
          name: alt-frontend
          ports:
            - containerPort: 3000
              protocol: TCP
          resources:
            limits:
              memory: "512Mi"
              cpu: "1000m"
            requests:
              memory: "256Mi"
              cpu: "500m"
          tty: true
      restartPolicy: Always
