{{- if .Values.ssl.ca.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.ssl.ca.secretName }}
  namespace: {{ .Release.namespace }}
  labels:
    {{- include "common-ssl.labels" . | nindent 4 }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: kubernetes.io/tls
data:
  {{- if .Values.ssl.ca.cert }}
  tls.crt: {{ .Values.ssl.ca.cert }}
  {{- else }}
  tls.crt: ""
  {{- end }}
  {{- if .Values.ssl.ca.key }}
  tls.key: {{ .Values.ssl.ca.key }}
  {{- else }}
  tls.key: ""
  {{- end }}
  {{- if .Values.ssl.ca.cert }}
  ca.crt: {{ .Values.ssl.ca.cert }}
  {{- else }}
  ca.crt: ""
  {{- end }}
{{- end }}