[project]
name = "tag-generator"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "keybert>=0.9.0",
    "sentence-transformers>=4.1.0",
    "transformers>=4.52.4",
    "psycopg2-binary>=2.9.0",
    "fugashi[unidic-lite]>=1.5.1",
    "ipadic>=1.0.0",
    "nltk>=3.9.1",
    "langdetect>=1.0.9",
]
