{{- if .Values.apiKeys.huggingFace.enabled }}
{{- $namespaces := list .Values.namespace.name }}
{{- if .Values.apiKeys.huggingFace.additionalNamespaces }}
{{- $namespaces = concat $namespaces .Values.apiKeys.huggingFace.additionalNamespaces }}
{{- end }}
{{- range $namespace := $namespaces }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $.Values.apiKeys.huggingFace.secretName }}
  namespace: {{ $namespace }}
  labels:
    {{- include "common-secrets.labels" $ | nindent 4 }}
    app.kubernetes.io/component: api-huggingface
  annotations:
    "helm.sh/resource-policy": "keep"
    {{- with $.Values.commonAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
data:
  HF_TOKEN: {{ $.Values.apiKeys.huggingFace.token | quote }}
{{- end }}
{{- end }}

{{- if .Values.apiKeys.meilisearch.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.apiKeys.meilisearch.secretName }}
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "common-secrets.labels" . | nindent 4 }}
    app.kubernetes.io/component: api-meilisearch
  annotations:
    "helm.sh/resource-policy": "keep"
    {{- with .Values.commonAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
data:
  MEILI_MASTER_KEY: {{ .Values.apiKeys.meilisearch.masterKey | quote }}
  MEILISEARCH_API_KEY: {{ .Values.apiKeys.meilisearch.apiKey | quote }}
{{- end }}