name: Rask Log Forwarder Tests
on:
  push:
    branches: [ main, master ]
    paths:
      - 'rask-log-forwarder/**'
  pull_request:
    branches: [ main, master ]
    paths:
      - 'rask-log-forwarder/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  actions: read

jobs:
  test:
    uses: ./.github/workflows/reusable-test-rust.yaml
    with:
      working-directory: 'rask-log-forwarder/app'
      toolchain: 'stable'
      coverage-flags: 'rask-log-forwarder'