name: Search Indexer Tests

on:
  push:
    branches: [ main ]
    paths: [ 'search-indexer/**' ]
  pull_request:
    branches: [ main ]
    paths: [ 'search-indexer/**' ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    uses: ./.github/workflows/reusable-test-go.yaml
    with:
      working-directory: 'search-indexer/app'
      coverage-flags: 'search-indexer'
      use-oidc: false
    secrets: inherit
