name: Unit and Component Tests
on:
  push:
    branches: [ main, master ]
    paths:
      - 'alt-frontend/**'
  pull_request:
    branches: [ main, master ]
    paths:
      - 'alt-frontend/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  actions: read

jobs:
  test:
    uses: ./.github/workflows/reusable-test-frontend.yaml
    with:
      working-directory: 'alt-frontend/app'
      test-type: 'vitest'